body {
  font-family: 'Noto Sans', sans-serif;
  background-color: #e9ebee;
}

.container {
  width: 1170px;
  margin-right: auto;
  margin-left: auto;
}

.flex {
  display: flex;
}

.tile-group {
  width: 50%;
  margin-right: 30px;
}

.tile-group:last-child {
  margin-right: 0;
}

.info-label {
  font-style: italic;
  margin-right: 20px;
}

.mr10 {
  margin-right: 10px;
}

.mt10 {
  margin-top: 10px;
}

.right-align {
  text-align: right;
}

.mla {
  margin-left: auto;
}